<!-- The header, or navbar, is a lot of html, so it's been separated from the main layout to make it easier to understand. :) -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- The name of your website, your brand if you will -->
			<a href="/" class="navbar-brand">One Minute Bootstrap</a>
			<!-- This is the little hamburger you will see on the mobile version of your website -->
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<!-- This is the menu, the list of things you could have on your website -->
			<ul class="nav navbar-nav">
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<!-- The target="_blank" will force the link to open in a new tab, handy for keeping people on your page -->
					<a href="http://www.twitter.com/ubc_founder" target="_blank">Blog</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" aria-labelledby="themes">
						<li><a href="">Before the divider</a></li>
						<li class="divider"></li>
						<li><a href="">After the divider</a></li>
					</ul>
				</li>
			</ul>

			<!-- This is a right-aligned menu -->
			<ul class="nav navbar-nav navbar-right">
				<li><a>Right Menu</a></li>
				<li><a href="http://www.onehourbootstrap.com " target="_blank">One Hour Bootstrap</a></li>
			</ul>

		</div>
	</div>
</div>