html
	head
		title
			| Sinatra-Slim Template
		link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/united/bootstrap.min.css" rel="stylesheet" type="text/css"
			link href="/stylesheets/style.css" rel="stylesheet" type="text/css"
	body
		== slim :header
		.wrapper
			.container
				== yield
			.push
		.footer-wrapper
			== slim :footer
		script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
		script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js" type="text/javascript"
